/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* universal css */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* common or utilities css */
body {
 font-family: "Work Sans";
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 color: #131313;
}
.container {
 max-width: 1140px;
 margin: 65px auto;
}
.btn {
 font-weight: 600;
 font-size: 20px;
 line-height: 23px;
 text-align: center;
 color: #ffffff;
 padding: 20px 25px;
 border: 0;
 border-radius: 10px;
 background-color: #ff900e;
}

/* navigation */
header {
 background-color: rgba(255, 144, 14, 0.1);
}
nav {
 max-width: 1140px;
 margin: 0 auto;
 padding: 50px 0;
}
.navigation {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.logo-title {
 font-weight: 700;
 font-size: 45px;
 line-height: 53px;
}
.nav-menu ul {
 display: flex;
}
.nav-menu li {
 padding-left: 30px;
 list-style-type: none;
}
.nav-menu ul li a {
 text-decoration: none;
}

.nav-menu a {
 font-weight: 500;
 font-size: 18px;
 line-height: 26px;
 color: #424242;
}

/* banner */
.banner-details {
 text-align: center;
 width: 70%;
 margin: 0 auto;
}
.banner-title {
 font-weight: 700;
 font-size: 64px;
 line-height: 75px;
 text-align: center;
 color: #131313;
}
.banner-description {
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 color: #727272;
 margin: 30px 0;
}
.banner img {
 width: 100%;
 margin: 50px 0;
}
/* list */
.list {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-column-gap: 70px;
 align-items: center;
 padding: 0 60px;
}
.list-images {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-gap: 24px;
}
.list-images img {
 width: 100%;
}
.list-title {
 font-weight: 500;
 font-size: 45px;
 line-height: 53px;
 color: #727272;
}
.list-title span {
 font-weight: 700;
 font-size: 45px;
 line-height: 53px;
}
.list-title .span1 {
 color: #131313;
}
.list-title .span2 {
 color: #ff900e;
}
.list-description {
 margin: 24px 0 32px 0;
}

/* =============================== */
/* mobile */

@media only screen and (max-width: 576px) {
 .container {
  margin: 50px 0;
 }
 /* navigation */
 .navigation,
 .nav-menu ul {
  flex-direction: column;
 }
 .nav-menu > ul {
  text-align: center;
  margin: 10px 0;
 }
 .nav-menu > ul li {
  padding: 5px 0;
 }
 /* banner */
 .banner-details {
  width: 100%;
 }
 .banner-title {
  font-size: 28px;
  line-height: 38px;
 }
 .banner-description {
  padding: 0 16px;
 }
 .btn {
  font-size: 16px;
  padding: 15px 25px;
 }
 .banner img {
  margin: 28px 0;
 }
 /* list */
 .list {
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 45px;
  padding: 0 16px;
 }
 .list-images {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
 }
 .list-details {
  text-align: center;
 }
 .list-title,
 .list span {
  font-size: 28px;
  line-height: 38px;
 }
}

/* ====================================== */
/* tablet */

@media only screen and (min-width: 577px) and (max-width: 992px) {
 /* navigation */
 .navigation {
  flex-direction: column;
  gap: 30px;
 }
 .nav-menu li {
  padding: 0 20px;
 }
 /* banner */
 .banner-details {
  width: 90%;
 }
 .banner-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 65px;
 }
}
