/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* universal css */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* common or utilities css */
body {
 font-family: "Work Sans";
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 color: #131313;
}
.container {
 max-width: 1140px;
 margin: 65px auto;
}

/* navigation */
header {
 background-color: rgba(255, 144, 14, 0.1);
}
nav {
 max-width: 1140px;
 margin: 0 auto;
 padding: 50px 0;
}
.navigation {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.logo-title {
 font-weight: 700;
 font-size: 45px;
 line-height: 53px;
}
.nav-menu ul {
 display: flex;
}
.nav-menu li {
 padding-left: 30px;
 list-style-type: none;
}
.nav-menu ul li a {
 text-decoration: none;
}

.nav-menu a {
 font-weight: 500;
 font-size: 18px;
 line-height: 26px;
 color: #424242;
}

/* banner */
.banner-details {
 text-align: center;
 width: 70%;
 margin: 0 auto;

 border: 1px soldi black;
}
.banner-title {
 font-weight: 700;
 font-size: 64px;
 line-height: 75px;
 text-align: center;
 color: #131313;
}
.banner-description {
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 color: #727272;
 margin: 30px 0;
}
.banner-btn {
 font-weight: 600;
 font-size: 20px;
 line-height: 23px;
 text-align: center;
 color: #ffffff;
 padding: 20px 25px;
 border: 0;
 border-radius: 10px;
 background-color: #FF900E;
}
.banner img {
 width: 100%;
 margin: 50px 0;
}

/* =============================== */

/* mobile */

@media only screen and (max-width: 576px) {
 /* navigation */
 .navigation,
 .nav-menu ul {
  flex-direction: column;
 }
 .nav-menu > ul {
  text-align: center;
  margin: 10px 0;
 }
 .nav-menu > ul li {
  padding: 5px 0;
 }
}

/* tablet */

@media only screen and (min-width: 577px) and (max-width: 992px) {
 /* navigation */
 .navigation {
  flex-direction: column;
  gap: 30px;
 }
 .nav-menu li {
  padding: 0 20px;
 }
}
