/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* universal css */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* common or utilities css */
body {
 font-family: "Work Sans";
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 color: #131313;
}
.container {
 max-width: 1140px;
 margin: 65px auto;
}
.btn {
 font-weight: 600;
 font-size: 20px;
 line-height: 23px;
 text-align: center;
 color: #ffffff;
 padding: 20px 25px;
 border: 0;
 border-radius: 10px;
 background-color: #ff900e;
}

/* navigation */
header {
 background-color: rgba(255, 144, 14, 0.1);
}
nav {
 max-width: 1140px;
 margin: 0 auto;
 padding: 50px 0;
}
.navigation {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.logo-title {
 font-weight: 700;
 font-size: 45px;
 line-height: 53px;
}
.nav-menu ul {
 display: flex;
}
.nav-menu li {
 padding-left: 30px;
 list-style-type: none;
}
.nav-menu ul li a {
 text-decoration: none;
}

.nav-menu a {
 font-weight: 500;
 font-size: 18px;
 line-height: 26px;
 color: #424242;
}

/* banner */
.banner-details {
 text-align: center;
 width: 70%;
 margin: 0 auto;
}
.banner-title {
 font-weight: 700;
 font-size: 64px;
 line-height: 75px;
 text-align: center;
 color: #131313;
}
.banner-description {
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 color: #727272;
 margin: 30px 0;
}
.banner img {
 width: 100%;
 margin: 50px 0;
}
/* list */
.list {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-column-gap: 70px;
 align-items: center;
 padding: 0 60px;
}
.list-images {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-gap: 24px;
}
.list-images img {
 width: 100%;
}
.list-title {
 font-weight: 500;
 font-size: 45px;
 line-height: 53px;
 color: #727272;
}
.list-title span {
 font-weight: 700;
 font-size: 45px;
 line-height: 53px;
}
.list-title .span1 {
 color: #131313;
}
.list-title .span2 {
 color: #ff900e;
}
.list-description {
 margin: 24px 0 32px 0;
}
/* feature */
.features {
 margin: 65px 0;
}
.feature-contents {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-column-gap: 54px;
}
.feature-title {
 font-weight: 700;
 font-size: 35px;
 line-height: 35px;
 color: #131313;
 padding-left: 20px;
 border-left: 5px solid #ff900e;
}
.feature-description {
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 color: #727272;
 padding: 13px 0 20px 0;
}
.feature-option {
 margin-bottom: 13px;
 padding: 16px 20px;
 border-radius: 8px;
 box-shadow: 0 0 10px rgb(179, 182, 183, 0.6);
}
.feature-option-title {
 font-weight: 600;
 font-size: 20px;
 line-height: 23px;
 color: #131313;
}
.feature-option-description {
 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 color: #727272;
}
.feature-image img {
 width: 100%;
}
.feature-btn-float {
 text-align: center;
 padding: 35px;
 border: 0;
 border-radius: 8px;
 background-color: #ff900e;
 color: #ffffff;
}
.feature-btn-float-title {
 font-weight: 600;
 font-size: 40px;
 line-height: 45px;
}
.feature-btn-float-subtitle {
 font-weight: 400;
 font-size: 18px;
 line-height: 25px;
}

/* btn positioning */
.features {
 position: relative;
}
.feature-btn-float {
 position: absolute;
 top: 674px;
 right: 345px;
}

.feature-extra-btn {
 visibility: hidden;
}

/* facts */
.fact-title {
 font-weight: 700;
 font-size: 45px;
 line-height: 53px;
 color: #131313;
}
.fact-description {
 padding: 15px 0;

 font-weight: 400;
 font-size: 16px;
 line-height: 26px;
 color: #727272;
}
.fact-parts {
 display: flex;
 justify-content: center;
 gap: 90px;

 margin: 100px 50px;
}
.fact-part {
 width: 240px;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 35px 0;
 border: 1px solid #ff900e;
 border-radius: 8px;
 text-align: center;
}
.facts-ratings {
 padding: 10px 0;
}

/* =============================== */
/* mobile */

@media only screen and (max-width: 576px) {
 .container {
  margin: 50px 0;
 }
 /* navigation */
 .navigation,
 .nav-menu ul {
  flex-direction: column;
 }
 .nav-menu > ul {
  text-align: center;
  margin: 10px 0;
 }
 .nav-menu > ul li {
  padding: 5px 0;
 }
 /* banner */
 .banner-details {
  width: 100%;
 }
 .banner-title {
  font-size: 28px;
  line-height: 38px;
 }
 .banner-description {
  padding: 0 16px;
 }
 .btn {
  font-size: 16px;
  padding: 15px 25px;
 }
 .banner img {
  margin: 28px 0;
 }
 /* list */
 .list {
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 45px;
  padding: 0 16px;
 }
 .list-images {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
 }
 .list-details {
  text-align: center;
 }
 .list-title,
 .list span {
  font-size: 28px;
  line-height: 38px;
 }
 /* feature */

 .feature-contents {
  grid-template-columns: repeat(1, 1fr);
  padding: 0 10px;
 }
 .feature-title {
  font-weight: 600;
  font-size: 32px;
 }
 .feature-option-title,
 .feature-option-description {
  text-align: center;
  padding: 8px 0;
 }

 /* feature btn */
 .feature-btn {
  text-align: center;
  padding: 20px;
  border: 0;
  border-radius: 8px;
  background-color: #ff900e;
  color: #ffffff;
 }
 .feature-btn-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 38px;
 }
 .feature-btn-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
 }

 .feature-btn-float {
  display: none;
 }
 .feature-extra-btn {
  visibility: visible;
  display: flex;
  justify-content: center;
 }

 /* facts */
 .fact-parts {
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
 }
 .fact-details{
  text-align: center;
 }
 .fact-title {
  font-size: 38px;
 }
 .fact-description {
  padding: 8px 0;
 }
}
/* ====================================== */
/* tablet */

@media only screen and (min-width: 577px) and (max-width: 992px) {
 .btn {
  font-size: 16px;
  padding: 15px 25px;
 }
 /* navigation */
 .navigation {
  flex-direction: column;
  gap: 30px;
 }
 .nav-menu li {
  padding: 0 20px;
 }
 /* banner */
 .banner-details {
  width: 90%;
 }
 .banner-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 65px;
 }
 /* list */
 .list-title,
 .list span {
  font-size: 38px;
  line-height: 48px;
 }

 /* feature */

 .feature-contents {
  grid-template-columns: repeat(1, 1fr);
  padding: 0 10px;
 }
 .feature-title {
  font-weight: 700;
  font-size: 38px;
 }
 .feature-option-title,
 .feature-option-description {
  padding: 5px 0;
 }

 /* feature btn positioning */
 .feature-btn-float {
  top: 1685px;
  left: 10px;
 }

 /* fact */
 .fact-details{
  text-align: center;
 }
  .fact-parts {
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
 }
 .fact-details{
  text-align: center;
 }
 .fact-title {
  font-size: 38px;
 }
 .fact-description {
  padding: 8px 0;
 }
}
